<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Welcome message
            </mat-panel-title>
            <mat-panel-description>
                This appears when users are opening their mobile application.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="text-align: right;">
                <textarea [(ngModel)]="this.welcomeMessage.text" #welcomeMessageCtrl="ngModel" placeholder="Welcome to our site."></textarea><br>
                <button class="btn btn-primary" (click)="saveWelcomeMessage()">Edit & save</button>
            </div>
        </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                System message
            </mat-panel-title>
            <mat-panel-description>
                Set a message for errors.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="text-align: right;">
                <textarea [(ngModel)]="this.systemMessage.text" #systemMessageCtrl="ngModel" placeholder="Unfortunately, we're currently down."></textarea><br>
                <button class="btn btn-primary" (click)="saveSystemMessage()">Edit & save</button>
            </div>
        </div>
    </mat-expansion-panel>


</mat-accordion>