<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <button class="btn btn-primary" (click)="getEngQuestionForModerator()">Get new task</button>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 *ngIf="moderatorsTaskModel===null">You have no new tasks assigned to you, yet.</h3>
                        <h4 *ngIf="moderatorsTaskModel!==null" class="card-title">New Task</h4>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #modalForm>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="this.bsModalRef.hide();">
                              Close
                            </button>
    </div>
</ng-template> -->