.container {
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
}

.centered-div {
    margin: 3em auto;
}

.no-task-assigned-div {
    padding: 21vh 0vh;
}

.moderator-answer {
    width: 100%;
    border-radius: 4px;
    min-height: 10em;
    margin: 2em 0em;
    overflow: hidden;
    outline: none;
}

.card {
    background: #ffffffe6;
}

.card .card-footer .btn {
    font-weight: 600;
    font-size: 1em;
    width: 70%;
    margin: 5px 1px;
}