<div class="container">

    <div class="content">
        <div class="row">
            <div class="col-md-8 centered-div">
                <div [hidden]="moderatorsTaskModel!==null" class="no-task-assigned-div">
                    <h3 style="color: white;">You have no new tasks assigned to you, yet.</h3>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <button class="btn btn-primary" (click)="getEngQuestionForModerator()">Get new task</button>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="moderatorsTaskModel!==null">
                    <div class="card-header">
                        <h4 class="card-title"> Question: &nbsp;{{moderatorsTaskModel.engQuestion}} </h4>
                    </div>
                    <div class="card-body">
                        Answer: <br>
                        <textarea class="moderator-answer" [(ngModel)]="this.taskObject.translatedQuestion" #taskObjectTranslatedQuestion="ngModel"></textarea>
                        <hr>
                        <div [hidden]="!taskObject.questionUnclear">
                            <strong>Give a small description that will facilitate the user in making the question clearer.</strong><br>
                            <textarea class="moderator-answer" [(ngModel)]="this.taskObject.descriptionForUnclear" #taskObjectDescriptionForUnclear="ngModel" placeholder="The question is too vague to answer. Please be a little more specific about it so we can properly answer your queries."></textarea>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 text-center">
                                    <button class="btn btn-primary" (click)="submitUnclearQuestionWithDescription(moderatorsTaskModel)">Send to user</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row text-center" [hidden]="taskObject.questionUnclear">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><button class="btn btn-secondary" (click)="skipThisQuestion(moderatorsTaskModel.engQuesId)">Skip</button></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><button class="btn btn-warning" (click)="markThisQuestionAsUnclear(moderatorsTaskModel)">Mark unclear</button></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><button class="btn btn-primary" (click)="submitThisQuestion(moderatorsTaskModel)">Submit</button></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #modalForm>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="this.bsModalRef.hide();">
                              Close
                            </button>
    </div>
</ng-template> -->