<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <button class="btn btn-primary" (click)="getEngQuestionForModerator()">Get new task</button>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h3 *ngIf="moderatorsTaskModel===null" style="color: white;">You have no new tasks assigned to you, yet.</h3>
                <div class="card" *ngIf="moderatorsTaskModel!==null">
                    <div class="card-header">
                        <h4 class="card-title"> {{moderatorsTaskModel.engQuestion}} </h4>
                    </div>
                    <div class="card-body">
                        <textarea class="moderator-answer"></textarea>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4"><button class="btn btn-secondary" (click)="skipThisQuestion(moderatorsTaskModel.engQuesId)">Skip</button></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4"><button class="btn btn-primary" (click)="submitThisQuestion()">Submit</button></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #modalForm>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="this.bsModalRef.hide();">
                              Close
                            </button>
    </div>
</ng-template> -->